h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.35em;
}
h3 {
  font-size: 1em;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#Nav_menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #36486b;
}

.Nav_link:link {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-decoration: none;
  margin-right: 10px;
}
.Nav_link:visited {
  color: #fff;
}
.Nav_link:hover {
  color: #fff;
}
.Nav_link:active {
  color: #558de8;
}
.activeRoute {
  background-color:#558de8;
  /* border-bottom: 0.4rem solid teal; */
}
#User_Nav_menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #558de8;
}
.User_Nav_link:link {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-decoration: none;
  margin-right: 10px;
}
.User_Nav_link:visited {
  color: #fff;
}
.User_Nav_link:hover {
  color: #fff;
}
.User_Nav_link:active {
  color: #558de8;
}
.userActiveRoute {
  background-color:#36486b;
  height: 100%;
  margin: 0;
  padding: 0;
  /* border-bottom: 0.4rem solid teal; */

}